html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

code span.greyscale,
code span.greyscale span {
  color: rgba(255, 255, 255, 0.25) !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
